<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /pa165/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /pa165/index.html [L]
</IfModule>